<!DOCTYPE html>
<html>

<head>
    <title>geoxmlreadfromurlHTML</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>
    <style type='text/css'>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
            font-family: 'Segoe UI', Helvetica, Arial, Sans-Serif
        }
    </style>
</head>

<body>
<div id='printoutPanel'></div>

<div id='myMap' style='width: 100vw; height: 100vh;'></div>
<script type='text/javascript'>
    // window.onload = setupRefresh;
    //
    // function setupRefresh() {
    //     setTimeout("refreshPage();", 5000); // refresh rate in milliseconds
    // }
    //
    // function refreshPage() {
    //     window.location = location.href;
    // }

    function calculateAverage(array) {
        var total = 0.0;
        var count = 0;

        console.log("Preparing to average...");
        for (let i = 0; i < array.length; i++) {
            console.log("Array element " + i + ": " + array[i] + ".");
        }

        array.forEach(function(item, index) {
            console.log("Item: " + item);

            total += item;
            count++;
        });

        return total / count;
    }

    async function goFetch(url) {
        const response = await fetch(url);
        return await response.json();
    }

    function loadMapScenario() {
        // const average = arr => arr.reduce((a, b) => a + b, 0) / arr.length;
        console.log("Load...")
        var lats = [];
        var lons = [];
        var avlats = 0.0;
        var avlons = 0.0;

        const url = "/positions";
        // fetch(url)
        //     .then(data => data.json())
        goFetch(url)
            .then((json) => {
                console.log(JSON.stringify(json));

                json.forEach(function (pos) {
                    var loc = new Microsoft.Maps.Location(pos.latitude, pos.longitude);
                    lats.push(pos.latitude);
                    lons.push(pos.longitude);
                    // map.entities.push(new Microsoft.Maps.Pushpin(loc, null));
                })
                for (let i = 0; i < lats.length; i++) {
                    console.log("Position " + i + ": " + lats[i] + ", " + lons[i] + ".");
                }
                avlats = calculateAverage(lats);
                avlons = calculateAverage(lons);
                console.log("Averages: " + avlats + ", " + avlons);
            })

        console.log("Averages outside of fetch: " + avlats + ", " + avlons);

        var map = new Microsoft.Maps.Map(document.getElementById('myMap'),
            {
                center: new Microsoft.Maps.Location(avlats, avlons),
                zoom: 8
            }
        );
        // , {
        //         /* No need to set credentials if already passed in URL */
        //         center: new Microsoft.Maps.Location(38.6240528, -90.1771256),
        //             zoom: 8
        //     }

        Microsoft.Maps.loadModule('Microsoft.Maps.GeoXml', function () {
            var callback = function (dataset) {
                if (dataset.shapes) {
                    var l = new Microsoft.Maps.Layer();
                    l.add(dataset.shapes);
                    map.layers.insert(l);
                }
                if (dataset.layers) {
                    for (var i = 0, len = dataset.layers.length; i < len; i++) {
                        map.layers.insert(dataset.layers[i]);
                    }
                }
                document.getElementById('printoutPanel').innerHTML = '<textarea id="geoxmlTextArea" cols=29 rows=21></textarea>';
                document.getElementById('geoxmlTextArea').value = Microsoft.Maps.GeoXml.write(dataset, {
                    xmlFormat: Microsoft.Maps.GeoXmlFormat.kml,
                    roundLocations: true
                });
            };

            // var lats = [];
            // var lons = [];
            // const url = "/positions";
            // fetch(url)
            //     .then(data => data.json())
            //     .then((json) => {
            //         console.log(JSON.stringify(json));
            //
            //         json.forEach(function (pos) {
            //             var loc = new Microsoft.Maps.Location(pos.latitude, pos.longitude);
            //             // console.log("Adding " + loc);
            //             lats.push(pos.latitude);
            //             lons.push(pos.longitude);
            //             map.entities.push(new Microsoft.Maps.Pushpin(loc, null));
            //         })
            //     })

            for (let i = 0; i < lats.length; i++) {
                var loc = new Microsoft.Maps.Location(lats[i], lons[i]);
                map.entities.push(new Microsoft.Maps.Pushpin(loc, null));
            }

        });
    }
</script>

<script type='text/javascript'
        src='https://www.bing.com/api/maps/mapcontrol?key=AlgVY9nJ0vEd5XtK7DnlkZW5_pyu5ymoRmHfCyT71T35mmaBV3qMcxghsSwTVevc&callback=loadMapScenario'
        async defer></script>
</body>

</html>